<h2>{{ isEditMode ? 'Editar Perfil' : 'Criar Novo Perfil' }}</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nome:</label>
    <input type="text" id="name" formControlName="name" required style="text-transform: uppercase;"
      (input)="profileForm.patchValue({name: $any($event.target).value.toUpperCase()})">
  </div>
  <button type="submit" [disabled]="profileForm.invalid">{{ isEditMode ? 'Salvar' : 'Criar' }}</button>
  <button *ngIf="isEditMode" type="button" (click)="onCancel()">Cancelar</button>
</form>
