<div style="text-align:center">
    <h1 *ngIf="isLoggedIn">
      Welcome to {{ title }}!
   </h1>
  <app-login *ngIf="!isLoggedIn"></app-login>
   <div *ngIf="isLoggedIn">
        <button (click)="logout()">Logout</button>
         <app-menu (activeSectionChange)="activeSection = $event"></app-menu>
        <div *ngIf="activeSection === 'user-form' && (isAdmin() | async)">
            <app-user-form></app-user-form>
       </div>
       <div *ngIf="activeSection === 'user-list'">
            <app-user-list></app-user-list>
        </div>
       <div *ngIf="activeSection === 'profile-form' && (isAdmin() | async)">
            <app-profile-form></app-profile-form>
       </div>
        <div *ngIf="activeSection === 'profile-list'">
           <app-profile-list></app-profile-list>
       </div>
   </div>
 </div>
