h2 {
  margin-top: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
button {
background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
   border: none;
   cursor: pointer;
 border-radius: 4px;
}
